<template>
  <li>
    <nuxt-link :to="`/posts/${post.id}`">
      {{ post.title }}
    </nuxt-link>
  </li>
</template>

<script>
export default {
  name: "PostItem",
  props: ["post"],
};
</script>

<style>
</style>