<template>
  <main>
    <p v-if="$fetchState.pending">Cargando...</p>
    <p v-else-if="$fetchState.error">Error al cargar los posts</p>
    <div v-else>
      <h1>todos los posts</h1>
      <ul>
        <PostItem v-for="post in posts" :key="post.id" :post="post"></PostItem>
      </ul>
    </div>
  </main>
</template>

<script>
export default {
  name: "PostsPage",
  layout: "app",
  data() {
    return {
      posts: [],
    };
  },
  async fetch() {
    const response = await this.$axios.get(
      "https://jsonplaceholder.typicode.com/posts"
    );
    this.posts = response.data;
  },
  head() {
    return {
      title: "Posts",
    };
  },
};
</script>