<template>
  <div class="container">
    <header class="container-header">
      cabecera
      <ul>
        <li>
          <nuxt-link to="/">Inicio</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about">Acerca De</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/posts">Posts</nuxt-link>
        </li>
      </ul>
    </header>
    <div class="container-main">
      <nuxt />
    </div>
    <footer class="container-footer">pie de pagina</footer>
  </div>
</template>
<style lang="css" scoped>
body {
  margin: 0;
}
.container-header {
  background-color: orange;
  padding: 10px;
}
.container-footer {
  background-color: blue;
  padding: 10px;
}
/* home route and active route will show in bold as it matches / and /about */
a.nuxt-link-active {
  font-weight: bold;
}
/* exact link will show the primary color for only the exact matching link */
a.nuxt-link-exact-active {
  color: #c50000;
}
</style>