<template>
  <main>Acerca de.</main>
</template>
<script>
export default {
  name: "AboutPage",
  layout: "app",
  head() {
    return {
      title: "Acerca De",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Descripción acerca de mi primer proyecto en Nuxt",
        },
      ],
    };
  },
};
</script>
