<template>
  <main>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
      possimus, minus blanditiis impedit quidem ducimus? Iste dolor commodi unde
      ipsum atque architecto numquam assumenda ullam similique, laborum
      reiciendis? Delectus, aut.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet corporis
      officiis iusto expedita vero nihil voluptatibus facere repellendus
      assumenda similique nemo, commodi deserunt voluptates blanditiis minima
      ipsam laboriosam quisquam cum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quae
      ipsam eum laudantium eaque maiores a, ad quod autem doloremque nam, illum
      placeat odit blanditiis. Quo commodi vitae ex neque.
    </p>
  </main>
</template>

<script>
export default {
  name: "IndexPage",
  layout: "app",
  head() {
    return {
      title: "Mi Primer Proyecto",
    };
  },
};
</script>
