<template>
  <main>
    <p v-if="$fetchState.pending">Cargando...</p>
    <p v-else-if="$fetchState.error">Error al cargar la información</p>
    <div v-else>
      <h1>{{ post.title }}</h1>
      <div>{{ post.body }}</div>
    </div>
  </main>
</template>
<script>
export default {
  name: "PostPage",
  layout: "app",
  data() {
    return {
      post: {},
    };
  },
  async fetch() {
    const id = this.$route.params.id;
    const response = await this.$axios.get(
      `https://jsonplaceholder.typicode.com/posts/${id}`
    );
    this.post = response.data;
  },
  head() {
    return {
      title: this.post.title,
    };
  },
};
</script>